.content__block {
  max-width: 940px;
  background-color: #ffffff;
  height: 140px;
  margin: 26px auto 0;
  border-radius: 5px;
  box-shadow: 0 0 6px 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 14px;
  box-sizing: border-box;
  overflow: hidden;

  .content__description {
    width: 75%;
    p {
      font-size: 12px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.75);
      margin: 0;
      padding-top: 10px;
    }
  }

  h3 {
    font-size: 20px;
    color: #1890ff;
    margin: 0 0 5px;
    padding: 0;
  }

  .content__tag {
    display: inline-block;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    margin-right: 6px;
    margin-top: 3px;
  }
}

.content__owner {
  position: relative;
  display: flex;
  align-items: flex-start;
  min-width: 140px;
  .content__data {
    width: 100%;
  }
  span {
    display: inline-block;
    width: 100px;
    font-size: 12px;
  }

  .content__date {
    color: rgba(0, 0, 0, 0.5);
  }
  .content__name {
    text-align: end;
    color: brown;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
  }
  img {
    width: 40px;
    border-radius: 50%;
  }
}

.like {
  img {
    cursor: pointer;
    width: 15px;
    height: 15px;
    &:active {
      transform: scale(1.1);
    }
  }
  background-color: #ffffff;
  border: none;
  outline: none;
}

.content__title {
  margin-bottom: 5px;
}
